{% extends "base.html" %}

{% block content %}
  
    <div class="container">
        <div class="row">
            <!-- Left Sidebar -->
            
            {% include "dashboard/sidebar.html" %}

            <!-- Right Sidebar -->
             <div class="col-md-9">
                <span class="d-inline-block me-2 mb-3">Logged in as <strong>{{ user.username }}</strong></span>
                <div class="row">
                    <div class="col">
                        <div class="card border mb-3">
                            <div class="card-header text-center text-uppercase fw-bold">All Categories</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">{{ category_count }}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card border mb-3">
                            <div class="card-header text-center text-uppercase fw-bold">All Posts</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">{{ blogs_count }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>

{% endblock content %}